.bg-color,
body {
    background-color: hsl(210, 10%, 92%);
}


/* test */

:root {
    --colorPrimaryNormal: #00b3bb;
    --colorPrimaryDark: #00979f;
    --colorPrimaryGlare: #00cdd7;
    --colorPrimaryHalf: #80d9dd;
    --colorPrimaryQuarter: #bfecee;
    --colorPrimaryEighth: #dff5f7;
    --colorPrimaryPale: #f3f5f7;
    --colorPrimarySeparator: #f3f5f7;
    --colorPrimaryOutline: #dff5f7;
    --colorButtonNormal: #00b3bb;
    --colorButtonHover: #00cdd7;
    --colorLinkNormal: #00979f;
    --colorLinkHover: #00cdd7;
}

.upload_dropZone {
    color: #0f3c4b;
    outline-offset: -12px;
    transition: outline-offset 0.2s ease-out, outline-color 0.3s ease-in-out, background-color 0.2s ease-out;
}

.upload_dropZone.highlight {
    outline-offset: -4px;
    outline-color: var(--colorPrimaryNormal, #0576bd);
    background-color: var(--colorPrimaryEighth, #c8dadf);
}

.upload_svg {
    fill: var(--colorPrimaryNormal, #0576bd);
}

.btn-upload {
    color: #fff;
    background-color: var(--colorPrimaryNormal);
}

.btn-upload:hover,
.btn-upload:focus {
    color: #fff;
    background-color: var(--colorPrimaryGlare);
}

.upload_img {
    width: calc(33.333% - (2rem / 3));
    object-fit: contain;
}

.des {
    white-space: pre-wrap;
    font-family: inherit;
}

.f_r {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    background-color: hsl(210, 10%, 92%);
}

i {
    color: black;
}

.navbar-light .navbar-nav .nav-link {
    color: black;
}

.n_b {
    border-top: 2px solid #ccc;
    z-index: -1;
}

.avatar-container {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #bbe4e9;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-p {
    padding: 2rem;
}

.c_d {
    color: #53a8b6;
}

.stock-sm {
    margin-top: 20px;
    padding-right: 20px;
}

.p_f {
    background: linear-gradient(to bottom, #352f44 50%, #2a2438 50%);
}

.c_p {
    color: #005792;
}

.card-text {
    font-size: small;
}

.card-title {
    font-size: small;
}

.avatar-container i {
    font-size: 12px;
}


/* tabe next and previous button */

.custom-btn {
    background-color: transparent;
    border: none;
    font-size: 18px;
    position: relative;
}

.mr-right {
    margin-right: 8rem !important;
}

.no-border-bottom {
    border-bottom: none !important;
}

.modal-title {
    position: relative;
    padding-bottom: 10px;
}

.modal-title::after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    background-color: #31d2f2;
    position: absolute;
    bottom: 0;
    left: 0;
}

.btn-close {
    background-color: hsl(210, 27%, 96%);
    cursor: pointer;
    padding: 0;
    background-size: 34% !important;
}

.btn-close::before,
.btn-close::after {
    content: "";
    position: absolute;
    width: 2px;
    height: 20px;
    background-color: #f1f3f5;
    background-color: hsl(210, 27%, 96%);
    cursor: pointer;
    padding: 0;
    background-size: 34% !important;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}

.custom-color {
    background-color: #b7e8d3 !important;
    display: inline-block;
    width: 352px !important;
    height: 31px !important;
}

.custom-btn::before {
    content: "<";
    position: absolute;
    left: -12px;
    top: 50%;
    transform: translateY(-50%);
    margin-right: 5px;
    display: inline-block;
    padding: 3px 11px;
    border: 1px solid #ccc;
    background-color: #fff;
    color: #333;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
}

.custom-btn.prev::before {
    content: "‹";
}

.custom-btn.next::before {
    content: "›";
}

.thin-arrow {
    font-size: 12px;
    line-height: 1;
}

.dark-mode-form {
    background-color: #172e4f;
    color: #fff;
}

.dark-input {
    background-color: #172e4f;
    color: #fff;
    border: 1px solid #fff;
}

.processing-btn::placeholder {
    color: #44b350 !important;
}

.processing {
    color: #44b350 !important;
}

.dark-input::placeholder {
    color: #fff;
    text-align: center;
}

.css-primary-btn {
    background-color: #3bcffc !important;
    border-radius: 5px !important;
    color: white !important;
    /* font-size: 10px !important; */
}

.col-with-line {
    border-bottom: 1px solid #ffffff;
    padding-bottom: 5px;
    margin-bottom: 2px;
}


/* update order */

.table> :not(:last-child)> :last-child>* {
    border-bottom-color: inherit;
}

.date-range {
    background-color: #e9ebed;
    padding: 5px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 150px;
    border-radius: 5px;
}

.tout_voir {
    margin-left: 150px;
}

.custom-margin {
    margin-right: 17rem !important;
    margin-left: 1rem !important;
}

.box-input {
    border: 1px solid #ced4da;
    border-radius: 5px;
    padding: 6px;
    box-sizing: border-box;
    margin-left: -9px;
    width: 30px;
}

.qty {
    margin-left: -9px;
}

.row .task_m {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.list-group-item {
    overflow: hidden;
    text-overflow: ellipsis;
}

.extra-small-text {
    font-size: 0.8em;
    color: #888;
}

.table {
    font-size: small;
}


/* calander css */

.fc .fc-col-header-cell-cushion {
    padding-top: 5px;
    padding-bottom: 5px;
}

.fc .fc-button-primary {
    background-color: transparent;
    border-color: transparent;
    color: black;
}

button.fc-customButton-button.fc-button.fc-button-primary {
    background-color: #3bcffc !important;
    border-radius: 5px !important;
    color: white !important;
    padding: 5px 25px;
}

button.fc-customButton-button.fc-button.fc-button-primary:hover {
    color: white;
}

.card1 {
    width: 270px !important;
    height: 262px;
}

.search-padding {
    padding-left: 7px !important;
}

.table-left-padding {
    padding-left: 10px !important;
}

.border-color {
    border: solid 2px #e9ebed !important;
}

.custom-no-outline:focus {
    outline: 0;
    box-shadow: none;
}

.dropdown-toggle::after {
    content: none;
}

.btn-nowrap {
    white-space: nowrap;
}

.btn-custom {
    padding: 5px 10px;
    align-items: center;
    width: 150px;
}

.custom-card-header {
    border-bottom: none;
}

.nav-link span {
    max-width: 65px !important;
}

.stock {
    height: 350px !important;
    overflow-y: auto !important;
    overflow-x: hidden !important;
}

::-webkit-scrollbar {
    width: 3px;
}


/* Track */

::-webkit-scrollbar-track {
    background: #f1f1f1;
}


/* Handle */

::-webkit-scrollbar-thumb {
    background: lightskyblue;
}


/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: lightskyblue;
}

.card-sm {
    max-width: 100%;
    margin: 0 auto;
}

upload_dropZone {
    color: #0f3c4b;
    background-color: white;
}

.upload_dropZone.highlight {
    background-color: var(--colorPrimaryEighth, #c8dadf);
}

.w-full {
    width: 100% !important;
}

.upload_svg {
    fill: var(--colorPrimaryNormal, #0576bd);
}

.btn-upload {
    color: #fff;
    background-color: var(--colorPrimaryNormal);
}

.btn-upload:hover,
.btn-upload:focus {
    color: #fff;
    background-color: var(--colorPrimaryGlare);
}

.upload_img {
    width: calc(33.333% - (2rem / 3));
    object-fit: contain;
}

.card-with-dash-border {
    border: 2px dashed blue !important;
}

.mid-msg {
    margin-top: 18px;
}


/* help support box */

.chat {
    position: relative;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 10rem;
    text-align: center;
    margin-top: 526px;
}

.tab-margin {
    position: relative;
    margin-bottom: -29rem !important;
}

.accordion-item {
    border: none !important;
}

.help-support {
    padding-bottom: 29px !important;
}

.accordion-button::after {
    content: none;
}

.accordion-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
}

.accord-h {
    padding-left: 2rem !important;
    font-size: 1.25rem !important;
}

ul.custom-square {
    list-style-type: square !important;
    color: black !important;
}

ul.custom-square li::marker {
    color: #0576bd;
    font-size: 29px;
}

.custom-square li div {
    display: flex;
    align-items: start;
}

.custom-square span {
    flex: 1;
    padding-right: 7px;
}

.custom-square li:last-child {
    background-color: white;
    color: black;
}

.custom-square input[type="time"] {
    width: 115px;
}

.date-input {
    width: 119px;
}

.m-g {
    margin-left: 11px;
}

.mx-auto-no-right {
    margin-right: 0 !important;
    margin-left: auto !important;
}

.for-btn-private {
    margin-right: 319px;
}

.btn-width {
    width: 8rem;
}

.btn-width-pay {
    width: 10rem;
}

.font-12 {
    font-size: 12px !important;
}

.font-14 {
    font-size: 14px !important;
}

.font-16 {
    font-size: 16px !important;
}

.font-16 {
    font-size: 16px !important;
}

.emergency-btn {
    color: #f03e41 !important;
}

.medium-btn {
    color: #ed9b32 !important;
}

.wd100 {
    width: 100px !important;
}

.wd200 {
    width: 200px !important;
}

.wd150 {
    width: 150px !important;
}

.processing-btn {
    border-color: #44b350 !important;
    color: #44b350 !important;
}

.todo-btn {
    border-color: #bfbfbf !important;
    color: #bfbfbf !important;
}


/* new css */

.select2-container {
    box-sizing: border-box;
    display: inline-block;
    margin: 0;
    position: relative;
    vertical-align: middle;
}

.select2-container .select2-selection--single {
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    height: 28px;
    user-select: none;
    -webkit-user-select: none;
}

.select2-container .select2-selection--single .select2-selection__rendered {
    display: block;
    padding-left: 8px;
    padding-right: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.select2-container .select2-selection--single .select2-selection__clear {
    background-color: transparent;
    border: none;
    font-size: 1em;
}

.select2-container[dir="rtl"] .select2-selection--single .select2-selection__rendered {
    padding-right: 8px;
    padding-left: 20px;
}

.select2-container .select2-selection--multiple {
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    min-height: 32px;
    user-select: none;
    -webkit-user-select: none;
}

.select2-container .select2-selection--multiple .select2-selection__rendered {
    display: inline;
    list-style: none;
    padding: 0;
}

.select2-container .select2-selection--multiple .select2-selection__clear {
    background-color: transparent;
    border: none;
    font-size: 1em;
}

.select2-container .select2-search--inline .select2-search__field {
    box-sizing: border-box;
    border: none;
    font-size: 100%;
    margin-top: 5px;
    margin-left: 5px;
    padding: 0;
    max-width: 100%;
    resize: none;
    height: 18px;
    vertical-align: bottom;
    font-family: sans-serif;
    overflow: hidden;
    word-break: keep-all;
}

.select2-container .select2-search--inline .select2-search__field::-webkit-search-cancel-button {
    -webkit-appearance: none;
}

.select2-dropdown {
    background-color: white;
    border: 1px solid #aaa;
    border-radius: 4px;
    box-sizing: border-box;
    display: block;
    position: absolute;
    left: -100000px;
    width: 100%;
    z-index: 1051;
}

.select2-results {
    display: block;
}

.select2-results__options {
    list-style: none;
    margin: 0;
    padding: 0;
}

.select2-results__option {
    padding: 6px;
    user-select: none;
    -webkit-user-select: none;
}

.select2-results__option--selectable {
    cursor: pointer;
}

.select2-container--open .select2-dropdown {
    left: 0;
}

.select2-container--open .select2-dropdown--above {
    border-bottom: none;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.select2-container--open .select2-dropdown--below {
    border-top: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.select2-search--dropdown {
    display: block;
    padding: 4px;
}

.select2-search--dropdown .select2-search__field {
    padding: 4px;
    width: 100%;
    box-sizing: border-box;
}

.select2-search--dropdown .select2-search__field::-webkit-search-cancel-button {
    -webkit-appearance: none;
}

.select2-search--dropdown.select2-search--hide {
    display: none;
}

.select2-close-mask {
    border: 0;
    margin: 0;
    padding: 0;
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    min-height: 100%;
    min-width: 100%;
    height: auto;
    width: auto;
    opacity: 0;
    z-index: 99;
    background-color: #fff;
    filter: alpha(opacity=0);
}

.select2-hidden-accessible {
    border: 0 !important;
    clip: rect(0 0 0 0) !important;
    -webkit-clip-path: inset(50%) !important;
    clip-path: inset(50%) !important;
    height: 1px !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    width: 1px !important;
    white-space: nowrap !important;
}

.select2-container--default .select2-selection--single {
    background-color: #fff;
    border: 1px solid #aaa;
    border-radius: 4px;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #444;
    line-height: 28px;
}

.select2-container--default .select2-selection--single .select2-selection__clear {
    cursor: pointer;
    float: right;
    font-weight: bold;
    height: 26px;
    margin-right: 20px;
    padding-right: 0px;
}

.select2-container--default .select2-selection--single .select2-selection__placeholder {
    color: #999;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 26px;
    position: absolute;
    top: 1px;
    right: 1px;
    width: 20px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
    border-color: #888 transparent transparent transparent;
    border-style: solid;
    border-width: 5px 4px 0 4px;
    height: 0;
    left: 50%;
    margin-left: -4px;
    margin-top: -2px;
    position: absolute;
    top: 50%;
    width: 0;
}

.select2-container--default[dir="rtl"] .select2-selection--single .select2-selection__clear {
    float: left;
}

.select2-container--default[dir="rtl"] .select2-selection--single .select2-selection__arrow {
    left: 1px;
    right: auto;
}

.select2-container--default.select2-container--disabled .select2-selection--single {
    background-color: #eee;
    cursor: default;
}

.select2-container--default.select2-container--disabled .select2-selection--single .select2-selection__clear {
    display: none;
}

.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
    border-color: transparent transparent #888 transparent;
    border-width: 0 4px 5px 4px;
}

.select2-container--default .select2-selection--multiple {
    background-color: white;
    border: 1px solid #ced4da;
    border-radius: 4px;
    cursor: text;
    padding-bottom: 5px;
    padding-right: 5px;
    position: relative;
    height: 38px;
}

.select2-container--default .select2-selection--multiple.select2-selection--clearable {
    padding-right: 25px;
}

.select2-container--default .select2-selection--multiple .select2-selection__clear {
    cursor: pointer;
    font-weight: bold;
    height: 20px;
    margin-right: 10px;
    margin-top: 5px;
    position: absolute;
    right: 0;
    padding: 1px;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: #e4e4e4;
    border: 1px solid #aaa;
    border-radius: 4px;
    box-sizing: border-box;
    display: inline-block;
    margin-left: 5px;
    margin-top: 5px;
    padding: 0;
    padding-left: 20px;
    position: relative;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: bottom;
    white-space: nowrap;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__display {
    cursor: default;
    padding-left: 2px;
    padding-right: 5px;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
    background-color: transparent;
    border: none;
    border-right: 1px solid #aaa;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    color: #999;
    cursor: pointer;
    font-size: 1em;
    font-weight: bold;
    padding: 0 4px;
    position: absolute;
    left: 0;
    top: 0;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove:hover,
.select2-container--default .select2-selection--multiple .select2-selection__choice__remove:focus {
    background-color: #f1f1f1;
    color: #333;
    outline: none;
}

.select2-container--default[dir="rtl"] .select2-selection--multiple .select2-selection__choice {
    margin-left: 5px;
    margin-right: auto;
}

.select2-container--default[dir="rtl"] .select2-selection--multiple .select2-selection__choice__display {
    padding-left: 5px;
    padding-right: 2px;
}

.select2-container--default[dir="rtl"] .select2-selection--multiple .select2-selection__choice__remove {
    border-left: 1px solid #aaa;
    border-right: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.select2-container--default[dir="rtl"] .select2-selection--multiple .select2-selection__clear {
    float: left;
    margin-left: 10px;
    margin-right: auto;
}

.select2-container--default.select2-container--focus .select2-selection--multiple {
    border: solid black 1px;
    outline: 0;
}

.select2-container--default.select2-container--disabled .select2-selection--multiple {
    background-color: #eee;
    cursor: default;
}

.select2-container--default.select2-container--disabled .select2-selection__choice__remove {
    display: none;
}

.select2-container--default.select2-container--open.select2-container--above .select2-selection--single,
.select2-container--default.select2-container--open.select2-container--above .select2-selection--multiple {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.select2-container--default.select2-container--open.select2-container--below .select2-selection--single,
.select2-container--default.select2-container--open.select2-container--below .select2-selection--multiple {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.select2-container--default .select2-search--dropdown .select2-search__field {
    border: 1px solid #aaa;
}

.select2-container--default .select2-search--inline .select2-search__field {
    background: transparent;
    border: none;
    outline: 0;
    box-shadow: none;
    -webkit-appearance: textfield;
}

.select2-container--default .select2-results>.select2-results__options {
    max-height: 200px;
    overflow-y: auto;
}

.select2-container--default .select2-results__option .select2-results__option {
    padding-left: 1em;
}

.select2-container--default .select2-results__option .select2-results__option .select2-results__group {
    padding-left: 0;
}

.select2-container--default .select2-results__option .select2-results__option .select2-results__option {
    margin-left: -1em;
    padding-left: 2em;
}

.select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
    margin-left: -2em;
    padding-left: 3em;
}

.select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
    margin-left: -3em;
    padding-left: 4em;
}

.select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
    margin-left: -4em;
    padding-left: 5em;
}

.select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
    margin-left: -5em;
    padding-left: 6em;
}

.select2-container--default .select2-results__option--group {
    padding: 0;
}

.select2-container--default .select2-results__option--disabled {
    color: #999;
}

.select2-container--default .select2-results__option--selected {
    background-color: #ddd;
}

.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
    background-color: #5897fb;
    color: white;
}

.select2-container--default .select2-results__group {
    cursor: default;
    display: block;
    padding: 6px;
}

.select2-container--classic .select2-selection--single {
    background-color: #f7f7f7;
    border: 1px solid #aaa;
    border-radius: 4px;
    outline: 0;
    background-image: -webkit-linear-gradient(top, #fff 50%, #eee 100%);
    background-image: -o-linear-gradient(top, #fff 50%, #eee 100%);
    background-image: linear-gradient(to bottom, #fff 50%, #eee 100%);
    background-repeat: repeat-x;
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFFFF', endColorstr='#FFEEEEEE', GradientType=0);
}

.select2-container--classic .select2-selection--single:focus {
    border: 1px solid #5897fb;
}

.select2-container--classic .select2-selection--single .select2-selection__rendered {
    color: #444;
    line-height: 28px;
}

.select2-container--classic .select2-selection--single .select2-selection__clear {
    cursor: pointer;
    float: right;
    font-weight: bold;
    height: 26px;
    margin-right: 20px;
}

.select2-container--classic .select2-selection--single .select2-selection__placeholder {
    color: #999;
}

.select2-container--classic .select2-selection--single .select2-selection__arrow {
    background-color: #ddd;
    border: none;
    border-left: 1px solid #aaa;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    height: 26px;
    position: absolute;
    top: 1px;
    right: 1px;
    width: 20px;
    background-image: -webkit-linear-gradient(top, #eee 50%, #ccc 100%);
    background-image: -o-linear-gradient(top, #eee 50%, #ccc 100%);
    background-image: linear-gradient(to bottom, #eee 50%, #ccc 100%);
    background-repeat: repeat-x;
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#FFEEEEEE', endColorstr='#FFCCCCCC', GradientType=0);
}

.select2-container--classic .select2-selection--single .select2-selection__arrow b {
    border-color: #888 transparent transparent transparent;
    border-style: solid;
    border-width: 5px 4px 0 4px;
    height: 0;
    left: 50%;
    margin-left: -4px;
    margin-top: -2px;
    position: absolute;
    top: 50%;
    width: 0;
}

.select2-container--classic[dir="rtl"] .select2-selection--single .select2-selection__clear {
    float: left;
}

.select2-container--classic[dir="rtl"] .select2-selection--single .select2-selection__arrow {
    border: none;
    border-right: 1px solid #aaa;
    border-radius: 0;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    left: 1px;
    right: auto;
}

.select2-container--classic.select2-container--open .select2-selection--single {
    border: 1px solid #5897fb;
}

.select2-container--classic.select2-container--open .select2-selection--single .select2-selection__arrow {
    background: transparent;
    border: none;
}

.select2-container--classic.select2-container--open .select2-selection--single .select2-selection__arrow b {
    border-color: transparent transparent #888 transparent;
    border-width: 0 4px 5px 4px;
}

.select2-container--classic.select2-container--open.select2-container--above .select2-selection--single {
    border-top: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background-image: -webkit-linear-gradient(top, #fff 0%, #eee 50%);
    background-image: -o-linear-gradient(top, #fff 0%, #eee 50%);
    background-image: linear-gradient(to bottom, #fff 0%, #eee 50%);
    background-repeat: repeat-x;
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFFFF', endColorstr='#FFEEEEEE', GradientType=0);
}

.select2-container--classic.select2-container--open.select2-container--below .select2-selection--single {
    border-bottom: none;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    background-image: -webkit-linear-gradient(top, #eee 50%, #fff 100%);
    background-image: -o-linear-gradient(top, #eee 50%, #fff 100%);
    background-image: linear-gradient(to bottom, #eee 50%, #fff 100%);
    background-repeat: repeat-x;
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#FFEEEEEE', endColorstr='#FFFFFFFF', GradientType=0);
}

.select2-container--classic .select2-selection--multiple {
    background-color: white;
    border: 1px solid #aaa;
    border-radius: 4px;
    cursor: text;
    outline: 0;
    padding-bottom: 5px;
    padding-right: 5px;
}

.select2-container--classic .select2-selection--multiple:focus {
    border: 1px solid #5897fb;
}

.select2-container--classic .select2-selection--multiple .select2-selection__clear {
    display: none;
}

.select2-container--classic .select2-selection--multiple .select2-selection__choice {
    background-color: #e4e4e4;
    border: 1px solid #aaa;
    border-radius: 4px;
    display: inline-block;
    margin-left: 5px;
    margin-top: 5px;
    padding: 0;
}

.select2-container--classic .select2-selection--multiple .select2-selection__choice__display {
    cursor: default;
    padding-left: 2px;
    padding-right: 5px;
}

.select2-container--classic .select2-selection--multiple .select2-selection__choice__remove {
    background-color: transparent;
    border: none;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    color: #888;
    cursor: pointer;
    font-size: 1em;
    font-weight: bold;
    padding: 0 4px;
}

.select2-container--classic .select2-selection--multiple .select2-selection__choice__remove:hover {
    color: #555;
    outline: none;
}

.select2-container--classic[dir="rtl"] .select2-selection--multiple .select2-selection__choice {
    margin-left: 5px;
    margin-right: auto;
}

.select2-container--classic[dir="rtl"] .select2-selection--multiple .select2-selection__choice__display {
    padding-left: 5px;
    padding-right: 2px;
}

.select2-container--classic[dir="rtl"] .select2-selection--multiple .select2-selection__choice__remove {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.select2-container--classic.select2-container--open .select2-selection--multiple {
    border: 1px solid #5897fb;
}

.select2-container--classic.select2-container--open.select2-container--above .select2-selection--multiple {
    border-top: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.select2-container--classic.select2-container--open.select2-container--below .select2-selection--multiple {
    border-bottom: none;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.select2-container--classic .select2-search--dropdown .select2-search__field {
    border: 1px solid #aaa;
    outline: 0;
}

.select2-container--classic .select2-search--inline .select2-search__field {
    outline: 0;
    box-shadow: none;
}

.select2-container--classic .select2-dropdown {
    background-color: #fff;
    border: 1px solid transparent;
}

.select2-container--classic .select2-dropdown--above {
    border-bottom: none;
}

.select2-container--classic .select2-dropdown--below {
    border-top: none;
}

.select2-container--classic .select2-results>.select2-results__options {
    max-height: 200px;
    overflow-y: auto;
}

.select2-container--classic .select2-results__option--group {
    padding: 0;
}

.select2-container--classic .select2-results__option--disabled {
    color: grey;
}

.select2-container--classic .select2-results__option--highlighted.select2-results__option--selectable {
    background-color: #3875d7;
    color: #fff;
}

.select2-container--classic .select2-results__group {
    cursor: default;
    display: block;
    padding: 6px;
}

.select2-container--classic.select2-container--open .select2-dropdown {
    border-color: #5897fb;
}

.multipleSelect2 {
    width: 218px;
    height: 38px;
    align-items: center;
    text-align: center;
}

.overflow-x {
    overflow-x: auto;
    overflow-y: hidden;
}

@media only screen and (max-width: 768px) {
    .help-sm {
        margin-left: 0 !important;
    }
    .settings-sm {
        margin-left: 1rem !important;
    }
    .stock-sm {
        margin-top: 0;
        padding-right: 0;
    }
}

@media only screen and (max-width: 768px) {
    .navbar-collapse {
        text-align: center;
    }
    .avatar {
        justify-content: center;
    }
    .responsive {
        align-items: center;
    }
    .mb-small {
        margin-bottom: 1.5rem !important;
    }
    .card-sm {
        width: 315px;
        max-width: 767px;
    }
    .task-sm {
        width: 315px;
        max-width: 767px;
        overflow: auto;
        margin-bottom: 1.5rem;
    }
    .stock-sm {
        width: 315px;
        max-width: 767px;
        overflow: auto;
    }
    .cons-sm {
        width: 315px;
        max-width: 767px;
        overflow: auto;
    }
    /* document upload */
}


/*//////////////// new css //////////////////// */

#PatientsearchInput {}

.clr-br {
    color: #707070 !important;
}

.clr-th {
    color: #2a283b !important;
}

.clr-db {
    color: #102940 !important;
}

.clr-th {
    color: #2a283b !important;
}

.lblue {
    color: #50c2f6 !important;
}

.border-b-br {
    border-bottom: 1px solid #70707023 !important;
}

.border-none {
    border: none;
}

.border-b-bl {
    border-bottom: 2px solid #50c2f6 !important;
}

.nav-link {
    color: #8791a3;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    border: none !important;
    border-bottom: 2px solid #50c2f6 !important;
    /* border-color: transparent !important; */
    color: #50c2f6;
}

.adevtime {
    padding: 2px 5px;
    background-color: #f3f3f3 !important;
    border-radius: 5px;
}

.stats-heading {
    color: #15181a;
}


/* calendar  */

.fc-scrollgrid-sync-inner>a {
    color: #2a283b !important;
    font-size: 14px !important;
    font-weight: 450 !important;
}

.fc .fc-daygrid-day-number {
    position: absolute !important;
    left: 0 !important;
    color: #93c0cf !important;
}

.fc .fc-toolbar.fc-header-toolbar {
    position: relative;
}

.fc .fc-button-group {
    gap: 200px;
    display: flex !important;
}

.fc .fc-toolbar-title {
    position: absolute;
    left: 45px;
    top: 5px;
}